@model RadiusR_Manager.Models.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.ForgotPassword;
    Layout = "~/Views/Shared/_NoAuthLayout.cshtml";
}

<div style="text-align: center;">
    <div class="login-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table class="input-table">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Email)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Email, new { @htmlAttributes = new { @autocomplete = "off", @maxlength = 150 } })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Phone)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Phone, new { @htmlAttributes = new { @autocomplete = "off", @maxlength = 10 } })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.Phone)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessage("General")
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        @Html.ActionLink(RadiusR.Localization.Pages.Common.Back, "Login", null, new { @class = "link-button iconed-button back-button" })
                    </td>
                    <td style="text-align: right;">
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.SendSMS" class="link-button iconed-button send-button" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
