@using RadiusR_Manager.Helpers
@using RezaB.Web.Authentication

@model IEnumerable<RadiusR_Manager.Models.RadiusViewModels.CashierViewModel>

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.Cashiers + "-" + RadiusR.Localization.Pages.Common.CashiersList;
}

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitCut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.TotalCredit)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.ProfitCut)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @if (User.HasPermission("Modify Cashiers"))
                {
                    using (Html.BeginForm("ChangeState", null, new { id = item.ID }, FormMethod.Post, new { @confirm = "enabled" }))
                    {
                        @Html.AntiForgeryToken()
                        if (item.IsEnabled)
                        {
                            <input type="submit" value="@RadiusR.Localization.Pages.Common.Deactivate" class="link-button iconed-button lock-button" />
                        }
                        else
                        {
                            <input type="submit" value="@RadiusR.Localization.Pages.Common.Activate" c class="link-button iconed-button unlock-button" />
                        }
                    }
                    @:
                    using (Html.BeginForm("Remove", null, new { id = item.ID }, FormMethod.Post, new { @confirm = "enabled" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Remove" class="link-button iconed-button remove-button" />
                    }
                }
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Details, "Details", new { id = item.ID }, new { @class = "link-button iconed-button details-button" })
            </td>
        </tr>
    }
</table>
@Html.PagedList()
