@using RadiusR_Manager.Helpers

@model IEnumerable<RadiusR_Manager.Models.ViewModels.CancelledClientUnpaidBillsViewModel>

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.CancelledClientsUnpaidBills;
    var search = (RadiusR_Manager.Models.ViewModels.CancelledUnpaidBillsSearchViewModel)ViewBag.Search;
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            <table class="input-table">
                <tr>
                    <td>
                        @Html.LabelFor(modelItem => search.StartDate)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => search.StartDate)-@Html.EditorFor(modelItem => search.EndDate)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Search" class="link-button iconed-button search-button" />
                        <input type="button" value="@RadiusR.Localization.Pages.Common.ClearSearch" class="link-button iconed-button clear-search" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriberNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancellationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnpaidBillCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDebt)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details","Client", new { id = item.ID })#bills" class="details-link">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.SubscriberNo)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.CancellationDate)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.UnpaidBillCount)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.TotalDebt)
            </td>
        </tr>
    }
</table>
@Html.PagedList()
<div style="text-align: right; padding: 0.3em;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="@RadiusR.Localization.Pages.Common.GetPrintableDoc" class="link-button iconed-button download-button" />
    }
</div>