@using RezaB.Web.Authentication
@using RadiusR_Manager.Helpers

@model IEnumerable<RadiusR_Manager.Models.ViewModels.SupportRequestModels.SupportRequestListViewModel>

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupportPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestType)/@Html.DisplayNameFor(model => model.RequestSubType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVisibleToCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedGroup)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.SupportPin)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="centered">
                <div>
                    @Html.DisplayFor(modelItem => item.RequestType)
                </div>
                <div class="support-request-sub-type-view">
                    @Html.DisplayFor(modelItem => item.RequestSubType)
                </div>
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.IsVisibleToCustomer)
            </td>
            <td class="centered">
                @if (item.AssignedGroup != null)
                {
                    <div class="support-request-tag support-request-assigned-group">
                        @Html.DisplayNameFor(model => model.AssignedGroup):
                        @Html.DisplayFor(modelItem => item.AssignedGroup)
                    </div>
                }
                @if (item.AssignedUser != null)
                {
                    <div class="support-request-tag support-request-assigned-user">
                        @Html.DisplayNameFor(model => model.AssignedUser):
                        @Html.DisplayFor(modelItem => item.AssignedUser)
                    </div>
                }
                @if (item.RedirectedToGroup != null)
                {
                    <div class="support-request-tag support-request-redirected-to-group">
                        @Html.DisplayNameFor(model => model.RedirectedToGroup):
                        @Html.DisplayFor(modelItem => item.RedirectedToGroup)
                    </div>
                }
            </td>
            <td>
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Details, "Details", "SupportRequest", new { id = item.ID, groupId = ViewBag.GroupId, returnUrl = $"{Url.Action("Details", "Client", new { id = ViewContext.RouteData.Values["id"] })}#faults" }, new { @class = "link-button iconed-button details-button" })
            </td>
        </tr>
    }
</table>
@Html.PagedList()