@using RadiusR_Manager.Helpers

@model IEnumerable<RadiusR_Manager.Models.RadiusViewModels.PartnerPermissionViewModel>

@{
    ViewBag.Title = ViewBag.PartnerName + "-" + RadiusR.Localization.Pages.Common.PartnerPermissions;
}

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Permission)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Permission)
            </td>
        </tr>
    }
</table>
@Html.PagedList((int)ViewBag.PageCount)

<div class="button-row centered">
    @Html.ActionLink(RadiusR.Localization.Pages.Common.Back, "Settings", new { id = Request.RequestContext.RouteData.Values["id"], returnUrl = ViewBag.ReturnUrl }, new { @class = "link-button iconed-button back-button" })
    &nbsp;
    @Html.ActionLink(RadiusR.Localization.Pages.Common.Edit, "EditPermissions", new { id = Request.RequestContext.RouteData.Values["id"], returnUrl = ViewBag.ReturnUrl }, new { @class = "link-button iconed-button edit-button" })
</div>