@model IEnumerable<RadiusR_Manager.Models.RadiusViewModels.BTKSchedulerSettingsViewModel>

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.BTKLogs + "-" + RadiusR.Localization.Pages.Common.SchedulerSettings;
}

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedulerStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedulerActiveTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedulerWorkPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedulerStartDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FTPFolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FTPUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FTPPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartitionFiles)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogType)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.SchedulerStartTime)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.SchedulerActiveTime)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.SchedulerWorkPeriod)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.SchedulerStartDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTPFolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FTPUsername)
            </td>
            <td>
                <div class="invisible-text">
                    @Html.DisplayFor(modelItem => item.FTPPassword)
                </div>
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.PartitionFiles)
            </td>
            <td>
                @using (Html.BeginForm("ChangeLoggerState", null, new { logType = item.LogType }, FormMethod.Post, new { @confirm = "enabled" }))
                {
                    @Html.AntiForgeryToken()
                    if (item.IsActive)
                    {
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Deactivate" class="link-button iconed-button lock-button" />
                    }
                    else
                    {
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Activate" c class="link-button iconed-button unlock-button" />
                    }
                }
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Edit, "EditSchedulerSettings", new { id = item.LogType }, new { @class = "link-button iconed-button edit-button" })
            </td>
        </tr>
    }
</table>
