@using RezaB.Web.Helpers

@model RadiusR_Manager.Models.ViewModels.Customer.CustomerRegistrationViewModel

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.AddClient;
    var validationResults = ViewBag.RegistrationValidations as ILookup<string, string>;
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <table class="input-table" style="width: 100%;">
                <tr>
                    <td>
                        <div class="rate-limit-title">@Html.DisplayNameFor(model => model.IDCard)</div>
                    </td>
                </tr>
            </table>

            @Html.PartialFor(model => model.IDCard, "Edits/CustomerIdentity")

            <table class="input-table" style="width: 100%;">
                <tr>
                    <td class="centered">
                        <input id="validate-id-button" type="button" value="@RadiusR.Localization.Pages.Common.Validate" class="link-button iconed-button validate-button" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="validate-id-results" class="centered">@Html.Raw(ViewBag.TCKValidationResults)</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="rate-limit-title">@Html.DisplayNameFor(model => model.GeneralInfo)</div>
                    </td>
                </tr>
            </table>

            @Html.PartialFor(model => model.GeneralInfo, "Edits/CustomerGeneralInfo")

            <div id="individual-info" style="display: none;">
                <table class="input-table" style="width: 100%;">
                    <tr>
                        <td>
                            <div class="rate-limit-title">@Html.DisplayNameFor(model => model.IndividualInfo)</div>
                        </td>
                    </tr>
                </table>

                @Html.PartialFor(model => model.IndividualInfo, "Edits/IndividualCustomerInfo")
            </div>

            <div id="corporate-info" style="display: none;">
                <table class="input-table" style="width: 100%;">
                    <tr>
                        <td>
                            <div class="rate-limit-title">@Html.DisplayNameFor(model => model.CorporateInfo)</div>
                        </td>
                    </tr>
                </table>

                @Html.PartialFor(model => model.CorporateInfo, "Edits/CorporateCustomerInfo")
            </div>

            <table class="input-table" style="width: 100%;">
                <tr>
                    <td>
                        <div class="rate-limit-title">@Html.DisplayNameFor(model => model.SubscriptionInfo)</div>
                    </td>
                </tr>
            </table>

            @Html.PartialFor(model => model.SubscriptionInfo, "Edits/CustomerSubscription")

            <div class="centered text-danger">
                <span>@ViewBag.TelekomError</span>
                @if (validationResults != null)
                {
                    <table>
                        @foreach (var item in validationResults)
                    {
                            <tr>
                                <td>
                                    @item.Key
                                </td>
                                <td>
                                    @string.Join(", ", item.Select(i => i))
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>

            <div>
                @Html.Partial("_WaitTimer")
            </div>
            <div id="submit-row" class="centered">
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Back, "Index", "Client", new { @class = "link-button iconed-button back-button" })
                <input type="submit" value="@RadiusR.Localization.Pages.Common.Save" class="link-button iconed-button accept-button" />
            </div>
        }
    </div>
</div>

@section PageScripts{
    <script>
        $('#submit-row').closest('form').submit(function () {
            $('#submit-row').hide();
            StartWaitingCounter('div.waiting-progress');
        });
    </script>
    @Scripts.Render("~/bundles/views/customer-register.js")
    <script>
        CustomerViewSetupTCKValidation('@Url.Action("CheckCustomerIdentity", "Client")');
        CustomerViewSetupCustomerTypeToggle('@((short)RadiusR.DB.Enums.CustomerType.Individual)');
        CustomerViewSetupAddressToggles();
        SubscriptionViewSetupUsernameTypeToggle();
        SubscriptionViewSetupDomainChanges('@Url.Action("GetDomainServices", "Service")', '@Url.Action("GetServiceBillingPeriods", "Service")', '@Url.Action("HasDomainCredentials", "Client")', '@Url.Action("GetTelekomPacketSelector", "TTServices")', 'SubscriptionInfo.TelekomDetailedInfo.TelekomTariffInfo', '@RadiusR.Localization.Pages.Common.LoadingError');
        SubscriptionViewSetupInfrastructureCheck('@Url.Action("GetAvailability", "TTServices")');
        SubscriptionViewSetupTelekomInfoModeToggle();
        SetupRecurringDiscountEditor('#referral-discount-editor',@((short)RadiusR.DB.Enums.RecurringDiscount.RecurringDiscountType.Static), @((short)RadiusR.DB.Enums.RecurringDiscount.RecurringDiscountType.Percentage), @((short)RadiusR.DB.Enums.RecurringDiscount.RecurringDiscountApplicationType.FeeBased), @((short)RadiusR.DB.Enums.RecurringDiscount.RecurringDiscountApplicationType.BillBased));
        SubscriptionViewSetupReferralDiscount();
    </script>
}