@using RezaB.Web.Authentication
@using RezaB.Web.Helpers

@model RadiusR_Manager.Models.ViewModels.SubscriptionFormsViewModel

@{
    ViewBag.Title = $"{ViewBag.CustomerName}-{RadiusR.Localization.Pages.Common.Forms}";
    var allFormTypes = ViewBag.AllForms as IDictionary<int, string> ?? new Dictionary<int, string>();
}

@using (Html.BeginForm(null,null, new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, new { @confirm = "enabled" }))
{
    @Html.AntiForgeryToken()
    <table class="data-table">
        <tr>
            <th>
                @RadiusR.Localization.Pages.Common.Forms
            </th>
            <th>
                @RadiusR.Localization.Pages.Common.Download
            </th>
            <th>
                @RadiusR.Localization.Pages.Common.SendEMail
            </th>
        </tr>
        @{
            var index = 0;
        }
        @foreach (var item in allFormTypes)
        {
            <tr>
                <td>
                    @item.Value
                    @if (item.Key == (int)RadiusR.DB.Enums.GeneralPDFFormTypes.TransferForm)
                    {
                        @Html.Select("transferId", (SelectList)ViewBag.Transfers, RadiusR.Localization.Pages.Common.Choose)
                    }
                </td>
                <td class="centered download-link-container">
                    @Html.ActionLink(RadiusR.Localization.Pages.Common.Download, "DownloadForm", new { id = ViewContext.RouteData.Values["id"], formType = item.Key }, new { @class = "link-button iconed-button download-button" })
                </td>
                <td class="centered">
                    @if (User.HasPermission("Send Email To Client") && Model.HasEmailAddress)
                    {
                        @Html.Hidden($"selectedForms[{index}].FormType", item.Key)
                        @Html.CheckButton($"selectedForms[{index}].IsSelected", item.Value)
                    }
                    else
                    {
                        @:-
                    }
                </td>
            </tr>
            index++;
        }
        @*<tr>
            <td colspan="3">
                @Html.Partial("_WaitTimer")
            </td>
        </tr>*@
        <tr id="submit-row">
            <td></td>
            <td></td>
            <td class="centered">
                @if (User.HasPermission("Send Email To Client"))
                {
                    if (Model.HasEmailAddress)
                    {
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.SendEMail" class="link-button iconed-button send-button" />
                    }
                    else
                    {
                        @RadiusR.Localization.Pages.Common.SubscriptionHasNoEMail
                    }
                    if (ViewBag.SendEmailError != null)
                    {
                        <div class="button-row text-danger">@ViewBag.SendEmailError</div>
                    }
                }
            </td>
        </tr>
    </table>
}
<div class="button-row centered">
    <a href="@Url.Action("Details", new { id = ViewContext.RouteData.Values["id"]})#notes" class="link-button iconed-button back-button">@RadiusR.Localization.Pages.Common.Back</a>
</div>


@section PageScripts{
    <script>
        $('input[name=transferId]').change(function () {
            let transferId = $(this).val();
            $('td.download-link-container').find('.download-button').each(function () {
                let currentLink = $(this);
                let actionUrl = currentLink.attr('href');
                let newUrl = actionUrl.split('&')[0] + '&transferId=' + transferId;
                currentLink.attr('href', newUrl);
            });
        });
    </script>
    @*<script type="text/javascript">
        $('#submit-row').closest('form').submit(function () {
            $('#submit-row').hide();
            StartWaitingCounter('div.waiting-progress');
        });
    </script>*@
}

@*@if (User.HasPermission("Client Files"))
    {
        @Html.ActionLink(RadiusR.Localization.Pages.Common.DownloadContract, "DownloadContract", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "link-button iconed-button download-button" })
    }
    @if (User.HasPermission("Send Email To Client") && Model.HasEmailAddress)
    {
        @:&nbsp;
        using (Html.BeginForm("SendContractViaMail", "Client", new { id = ViewContext.RouteData.Values["id"] }, FormMethod.Post, new { @confirm = "enabled", @style = "display: inline-block;" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="@RadiusR.Localization.Pages.Common.SendContractViaMail" class="link-button iconed-button send-button" />
        }
    }*@

