@using RezaB.Web.Helpers

@model RadiusR_Manager.Models.RadiusViewModels.SupportGroupUserViewModel

@{
    ViewBag.Title = $"{RadiusR.Localization.Pages.Common.SupportGroupUsers}-{ViewBag.GroupName}";
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <table class="input-table">
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserID)
                </td>
                <td colspan="3">
                    @Html.Select(model => model.UserID, (SelectList)ViewBag.ValidUsers, RadiusR.Localization.Pages.Common.Choose)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    @Html.ValidationMessageFor(model => model.UserID)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.EditorFor(model => model.CanChangeState)
                </td>
                <td colspan="2">
                    @Html.EditorFor(model => model.CanCreate)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.ValidationMessageFor(model => model.CanChangeState)
                </td>
                <td colspan="2">
                    @Html.ValidationMessageFor(model => model.CanCreate)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.EditorFor(model => model.CanRedirect)
                </td>
                <td colspan="2">
                    @Html.EditorFor(model => model.CanWriteToCustomer)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.ValidationMessageFor(model => model.CanRedirect)
                </td>
                <td colspan="2">
                    @Html.ValidationMessageFor(model => model.CanWriteToCustomer)
                </td>
            </tr>
            <tr>
                <td colspan="4" class="centered">
                    @Html.ActionLink(RadiusR.Localization.Pages.Common.Back, "SupportGroupUsers", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "link-button iconed-button back-button" })
                    &nbsp;
                    <input type="submit" value="@RadiusR.Localization.Pages.Common.Accept" class="link-button iconed-button accept-button" />
                </td>
            </tr>
        </table>
        }
    </div>
</div>