@using RadiusR_Manager.Helpers

@model IEnumerable<RadiusR_Manager.Models.ViewModels.SupportRequestModels.SupportRequestListViewModel>

@{
    ViewBag.Title = ViewBag.InboxTitle;
}

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubscriberNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestType)/@Html.DisplayNameFor(model => model.RequestSubType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedGroup)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.RedirectedToGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedUser)
            </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="centered">
                <a href="@Url.Action("Details", "Client", new { id = item.SubscriptionID })#faults" class="details-link">@Html.DisplayFor(modelItem => item.SubscriberNo)</a>
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.SupportPin)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="centered">
                <div>
                    @Html.DisplayFor(modelItem => item.RequestType)
                </div>
                <div class="support-request-sub-type-view">
                    @Html.DisplayFor(modelItem => item.RequestSubType)
                </div>
            </td>
            <td class="centered">
                @if (item.AssignedGroup != null)
                {
                    <div class="support-request-tag support-request-assigned-group">
                        @Html.DisplayNameFor(model => model.AssignedGroup):
                        @Html.DisplayFor(modelItem => item.AssignedGroup)
                    </div>
                }
                @if (item.AssignedUser != null)
                {
                    <div class="support-request-tag support-request-assigned-user">
                        @Html.DisplayNameFor(model => model.AssignedUser):
                        @Html.DisplayFor(modelItem => item.AssignedUser)
                    </div>
                }
                @if (item.RedirectedToGroup != null)
                {
                    <div class="support-request-tag support-request-redirected-to-group">
                        @Html.DisplayNameFor(model => model.RedirectedToGroup):
                        @Html.DisplayFor(modelItem => item.RedirectedToGroup)
                    </div>
                }
            </td>
            <td>
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Details, "Details", new { id = item.ID, groupId = ViewBag.GroupId, returnUrl = Request.Url.PathAndQuery }, new { @class = "link-button iconed-button details-button" })
            </td>
        </tr>
    }
</table>
@Html.PagedList()
<div class="button-row centered">
    @Html.ActionLink(RadiusR.Localization.Pages.Common.Back, "Index", null, new { @class = "link-button iconed-button back-button" })
    @if (ViewBag.CanShare == true)
    {
        @:&nbsp;
        @Html.ActionLink(RadiusR.Localization.Pages.Common.ShareRequests, "ShareRequests",new { id = ViewBag.GroupId, returnUrl = Request.Url.PathAndQuery, isRedirect = (ViewBag.IsRedirect == true) ? "on" : "" }, new { @class = "link-button iconed-button next-button" })
    }
</div>