@using RadiusR_Manager.Helpers

@model IEnumerable<RadiusR_Manager.Models.RadiusViewModels.SupportRequestViewModel>

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.SupportRequests;
    var search = ViewBag.Search as RadiusR_Manager.Models.ViewModels.SupportRequestSearchViewModel ?? new RadiusR_Manager.Models.ViewModels.SupportRequestSearchViewModel();
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        @using (Html.BeginForm(null, null, FormMethod.Get))
        {
            <table class="input-table">
                <tr>
                    <td>
                        @Html.LabelFor(model => search.DateStart)
                    </td>
                    <td colspan="3">
                        @Html.EditorFor(model => search.DateStart)
                        -
                        @Html.EditorFor(model => search.DateEnd)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => search.Issuer)
                    </td>
                    <td>
                        @Html.EditorFor(model => search.Issuer)
                    </td>
                    <td>
                        @Html.LabelFor(model => search.StateID)
                    </td>
                    <td>
                        @Html.EditorFor(model => search.StateID)
                    </td>
                </tr>
                <tr>
                    <td class="centered" colspan="4">
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Search" class="link-button iconed-button search-button" />
                        <input type="button" value="@RadiusR.Localization.Pages.Common.ClearSearch" class="link-button iconed-button clear-search" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateID)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Client", new { id= item.SubscriptionID })" class="details-link">
                    @Html.DisplayFor(modelItem => item.Subscription.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuerName)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.StateID)
            </td>
            <td>
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Details, "Details", new { id = item.ID, returnUrl = Request.Url.PathAndQuery + Request.Url.Fragment }, new { @class = "link-button iconed-button details-button" })
            </td>
        </tr>
    }
</table>
@Html.PagedList((int)ViewBag.PageCount)