@model IEnumerable<RadiusR_Manager.Models.ViewModels.SupportGroupRequestListViewModel>

@{
    ViewBag.Title = $"{RadiusR.Localization.Pages.Common.SupportGroups}-{RadiusR.Localization.Pages.Common.SupportRequests}";
}

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupInbox)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupInProgress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalInbox)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="support-group-name">
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td class="centered">
                @if (item.IsLeader)
                {
                <div style="margin-bottom: 0.1em;">
                    @Html.DisplayNameFor(model => model.GroupInbox)
                    :
                    <div class="support-request-count-indicator">
                        @Html.DisplayFor(modelItem => item.GroupInbox)
                        &nbsp;
                        @Html.ActionLink(RadiusR.Localization.Pages.Common.Show, "GroupInbox", new { id = item.GroupID }, new { @class = "link-button iconed-button comment-button" })
                    </div>
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.GroupRedirectedInbox)
                    :
                    <div class="support-request-count-indicator">
                        @Html.DisplayFor(modelItem => item.GroupRedirectedInbox)
                        &nbsp;
                        @Html.ActionLink(RadiusR.Localization.Pages.Common.Show, "GroupRedirectInbox", new { id = item.GroupID }, new { @class = "link-button iconed-button comment-button" })
                    </div>
                </div>
                }
                else
                {
                    @:-
                }
            </td>
            <td class="centered">
                @if (item.IsLeader)
                {
                    <div class="support-request-count-indicator">
                        @Html.DisplayFor(modelItem => item.GroupInProgress)
                        &nbsp;
                        @Html.ActionLink(RadiusR.Localization.Pages.Common.Show, "GroupInProgress", new { id = item.GroupID }, new { @class = "link-button iconed-button comment-button" })
                    </div>
                }
                else
                {
                    @:-
                }
            </td>
            <td>
                <div class="support-request-count-indicator">
                    @Html.DisplayFor(modelItem => item.PersonalInbox)
                    &nbsp;
                    @Html.ActionLink(RadiusR.Localization.Pages.Common.Show, "Inbox", new { id = item.GroupID }, new { @class = "link-button iconed-button comment-button" })
                </div>
            </td>
        </tr>
    }
</table>