@using RadiusR_Manager.Helpers

@model IEnumerable<RadiusR_Manager.Models.RadiusViewModels.SupportRequestTypeViewModel>

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.SupportRequestTypes;
}

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStaffOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTypes)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        var rowClass = item.IsActive == true ? string.Empty : "highlighted-row";
        <tr class="@rowClass">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.IsStaffOnly)
            </td>
            <td>
                <table class="inner-table">
                    @foreach (var subItem in item.SubTypes)
                    {
                        var subRowClass = subItem.IsActive == true ? string.Empty : "highlighted-row";
                        <tr class="@subRowClass">
                            <td>
                                @Html.DisplayFor(modelItem => subItem.Name)
                            </td>
                            <td>
                                @Html.ActionLink(RadiusR.Localization.Pages.Common.Edit, "RenameSupportRequestSubType", new { id = subItem.ID, redirectUrl = Request.Url.PathAndQuery }, new { @class = "link-button iconed-button edit-button" })
                            </td>
                            <td>
                                @using (Html.BeginForm("ToggleSupportRequestSubType", null, new { id = subItem.ID, redirectUrl = Request.Url.PathAndQuery }, FormMethod.Post, new { @confirm = "enabled" }))
                                {
                                    @Html.AntiForgeryToken()
                                    if (subItem.IsActive == true)
                                    {
                                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Remove" class="link-button iconed-button delete-button" />
                                    }
                                    else
                                    {
                                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Activate" class="link-button iconed-button unlock-button" />
                                    }
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @Html.ActionLink(RadiusR.Localization.Pages.Common.Add, "AddSupportRequestSubType", new { id = item.ID, redirectUrl = Request.Url.PathAndQuery }, new { @class = "link-button iconed-button new-button" })
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Rename, "RenameSupportRequestType", new { id = item.ID, redirectUrl = Request.Url }, new { @class = "link-button iconed-button edit-button" })
                &nbsp;
                @using (Html.BeginForm("ToggleSupportRequestTypeState", null, new { id = item.ID, redirectUrl = Request.Url.PathAndQuery }, FormMethod.Post, new { @confirm = "enabled" }))
                {
                    @Html.AntiForgeryToken()
                    if (item.IsActive == true)
                    {
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Deactivate" class="link-button iconed-button lock-button" />
                    }
                    else
                    {
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Activate" class="link-button iconed-button unlock-button" />
                    }
                }
            </td>
        </tr>
    }
</table>
@Html.PagedList()

<div class="button-row centered">
    @Html.ActionLink(RadiusR.Localization.Pages.Common.Add, "AddSupportRequestType", new { redirectUrl = Request.Url.PathAndQuery }, new { @class = "link-button iconed-button new-button" })
</div>