@model RadiusR_Manager.Models.ViewModels.AvailabilityResultsViewModel

<table>
    <tr>
        <td class="centered" colspan="3" style="border: 1px solid lightgray; border-radius: 0.5em; background-color: #fffaea;">
            <div style="font-family: 'Racing Sans One', cursive; font-size: 1.3em; color: #768cff">@Html.DisplayNameFor(model => model.CancellationHistory)</div>
            <div>
                @if (!string.IsNullOrWhiteSpace(Model.CancellationHistory.ErrorMessage))
                {
                    @Html.DisplayNameFor(model => model.CancellationHistory.ErrorMessage)
                    @: :&nbsp;
                    <span class="text-danger">@Html.DisplayFor(model => model.CancellationHistory.ErrorMessage)</span>
                }
                else
                {
                    @Html.DisplayNameFor(model => model.CancellationHistory.Days)
                    @: :&nbsp;
                    @Html.DisplayFor(model => model.CancellationHistory.Days)
                }
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            @Html.DisplayFor(model => model.ADSL)
        </td>
        <td style="vertical-align: top;">
            @Html.DisplayFor(model => model.VDSL)
        </td>
        <td style="vertical-align: top;">
            @Html.DisplayFor(model => model.Fiber)
        </td>
    </tr>
</table>