@using RezaB.Web.Helpers

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.InfrastructureCheck;
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        <div class="centered" style="margin: 1em 0;">
            <form id="search-form" action="#" method="post">
                <div>
                    <table>
                        <tr>
                            <td>
                                <label>@RadiusR.Localization.Model.RadiusR.DomainName</label>
                            </td>
                            <td>
                                @Html.Select("domainId", (SelectList)ViewBag.TelekomDomains, RadiusR.Localization.Pages.Common.Choose)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>@RadiusR.Localization.Model.RadiusR.PSTN</label>
                            </td>
                            <td>
                                <input type="text" name="PSTN" value="" id="PSTN" maxlength="10" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="centered">
                                <input type="submit" value="@RadiusR.Localization.Pages.Common.Search" class="link-button iconed-button validate-button" />
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="centered-form-wrapper">
    <div class="centered-form">
        <div id="results-container">
        </div>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        $('#search-form').submit(function (e) {
            e.preventDefault();
            var pstnInput = $('#PSTN');
            $('#results-container').html('');
            var loader = new AjaxLoader('#results-container');
            loader.Load('@Url.Action("GetAvailability")', { PSTN: pstnInput.val(), domainId: $('input[name="domainId"]').val() }, 'POST');
        });
    </script>
}