@using RadiusR_Manager.Helpers
@using RezaB.Web.Helpers

@model RadiusR_Manager.Models.ViewModels.NewSetupServiceTaskViewModel

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.ClientSetup + "-" + RadiusR.Localization.Pages.Common.SendToSetupService;
}

<div class="centered-form-wrapper">
    <div id="task-form" class="centered-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("id", (long)ViewBag.ClientID)
            @Html.Hidden("redirectUrl", (string)ViewBag.RedirectURL)
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.SetupUserID)
                    </td>
                    <td>
                        @Html.Select(model => model.SetupUserID, (SelectList)ViewBag.ServiceUsers, RadiusR.Localization.Pages.Common.Choose)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.SetupUserID)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.HasModem)
                    </td>
                    <td>
                        @Html.CheckButton(model => model.HasModem)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.HasModem)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ModemName)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.ModemName)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.ModemName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.XDSLType)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.XDSLType)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.XDSLType)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.TaskDescription)
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.TaskDescription, new { @maxlength = "3000" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.TaskDescription)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="centered">
                        <a href="@ViewBag.BackLink" class="link-button iconed-button back-button">@RadiusR.Localization.Pages.Common.Cancel</a>
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Accept" class="link-button iconed-button accept-button" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        $('#task-form').submit(function () {
            $(this).find('input[type=submit]').hide();
        });
    </script>
}