@using RadiusR_Manager.Helpers
@model IEnumerable<RadiusR_Manager.Models.RadiusViewModels.SupportRequestViewModel>

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateID)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateID)
            </td>
        </tr>
    }
</table>
@Html.PagedList((int)ViewBag.PageCount)
