
@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.Transfer;
}

<div class="centered">
    <div class="button-row">
        <div class="centered-form">
            @Html.ActionLink(RadiusR.Localization.Pages.Common.SendToSetupService, "TransferBySetupService", new { id = (long)ViewBag.ClientID, redirectUrl = (string)ViewBag.RedirectURL }, new { @class = "link-button iconed-button next-button large-button" })
        </div>
    </div>
    <div class="button-row">
        <div id="no-setup-form" class="centered-form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("id", (long)ViewBag.ClientID)
                @Html.Hidden("redirectUrl", (string)ViewBag.RedirectURL)
                <input type="submit" value="@RadiusR.Localization.Pages.Common.NoSetup" class="link-button iconed-button next-button large-button" />
            }
        </div>
    </div>
    <div class="button-row">
        <a href="@ViewBag.BackLink" class="link-button iconed-button back-button large-button">@RadiusR.Localization.Pages.Common.Back</a>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        $('#no-setup-form').find('form').submit(function () {
            $(this).css('visibility', 'hidden');
        });
    </script>
    }