@model RadiusR_Manager.Models.ViewModels.AgentPasswordUpdateViewModel

@{
    ViewBag.Title = $"{ViewBag.AgentName}-{RadiusR.Localization.Pages.Common.ResetPassword}";
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table class="input-table">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @maxlength = 100, @autocomplete = "off" } })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="@ViewBag.BackUrl" class = "link-button iconed-button back-button">@RadiusR.Localization.Pages.Common.Back</a>
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Accept" class="link-button iconed-button accept-button" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>