@model RadiusR_Manager.Models.ViewModels.AgentsSettingsViewModel

@{
    ViewBag.Title = $"{RadiusR.Localization.Pages.Common.Agents}-{RadiusR.Localization.Pages.Common.Settings}";
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table class="input-table">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.AgentsNonCashPaymentCommissionDisplay)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.AgentsNonCashPaymentCommissionDisplay)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.AgentsNonCashPaymentCommissionDisplay)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="centered">
                        @Html.ActionLink(RadiusR.Localization.Pages.Common.Reset, null, null, new { @class = "link-button iconed-button reload-button" })
                        &nbsp;
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Save" class="link-button iconed-button save-button" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>