@model RadiusR_Manager.Models.ViewModels.UserManagementChangePasswordViewModel

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.ResetPassword + "-" + ViewBag.Name;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="input-table">
        <tr>
            <td>
                @Html.LabelFor(model=>model.NewPassword)
            </td>
            <td>
                @Html.EditorFor(model=>model.NewPassword, new { htmlAttributes = new { @maxlength = 100, @autocomplete = "off" } })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(model=>model.NewPassword)
            </td>
        </tr>
        <tr>
            <td colspan="2" class="centered">
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Back, "Edit", new { id = ViewBag.UserId }, new { @class = "link-button iconed-button back-button" })
                <input type="submit" value="@RadiusR.Localization.Pages.Common.Accept" class="link-button iconed-button accept-button" />
            </td>
        </tr>
    </table>
}