
@model RadiusR_Manager.Models.RadiusViewModels.CustomerSetupUserViewModel

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.CustomerSetupUsers + "-" + RadiusR.Localization.Pages.Common.ResetPassword;
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.Username)
            <table class="input-table">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Username)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password, new { @htmlAttributes = new { @maxlength = 50, @autocomplete = "off" } })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ActionLink(RadiusR.Localization.Pages.Common.Back, "Users", null, new { @class = "link-button iconed-button back-button" })
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Accept" class="link-button iconed-button accept-button" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>