@using RezaB.Web.Helpers

@model  RadiusR_Manager.Models.ViewModels.CallCenterSettingsViewModel

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.CallCenterSettings;
}

<div class="centered-form-wrapper">
    <div class="centered-form">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CallCenterAPIKey)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.CallCenterAPIKey, new { @htmlAttributes = new { @maxlength = 50, @autocomplete = "off" } })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.CallCenterAPIKey)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.InternalIDList)
                    </td>
                    <td>
                        @Html.TextListEditor(model => model.InternalIDList, new { @autocomplete = "off", @maxlength = 10 })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.InternalIDList)
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="centered">
                        @Html.ActionLink(RadiusR.Localization.Pages.Common.Reset, null, null, new { @class = "link-button iconed-button reload-button" })&nbsp;
                        <input type="submit" value="@RadiusR.Localization.Pages.Common.Save" class="link-button iconed-button save-button" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@RadiusR.Localization.Pages.Common.NotificationURL</label> 
                    </td>
                    <td>
                        @Url.Action("EventListener", "CallCenter", null, Request.Url.Scheme)
                    </td>
                </tr>
            </table>
        }
    </div>
</div>