@using RadiusR_Manager.Helpers
@using RezaB.Web.Authentication

@model IEnumerable<RadiusR_Manager.Models.RadiusViewModels.SMSArchiveViewModel>

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.SMS + "-" + RadiusR.Localization.Pages.Common.SendSMS;
    var SendSMSModel = (RadiusR_Manager.Models.ViewModels.ClientSMSViewModel)ViewBag.ClientSMS;
}

@if (User.HasPermission("SMS"))
{
    <div class="centered" style="margin: 1em 0;">
        @using (Html.BeginForm("ClientSMS", "SMS", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => SendSMSModel.ClientID)
            <div>
                @Html.LabelFor(model => SendSMSModel.SMSText)
            </div>
            <div>
                @Html.TextAreaFor(model => SendSMSModel.SMSText)
            </div>
            <div class="text-danger">
                @Html.ValidationMessageFor(model => SendSMSModel.SMSText)
            </div>
            <div class="centered" style="margin-top: 0.5em;">
                <input type="submit" value="@RadiusR.Localization.Pages.Common.SendSMS" class="link-button iconed-button send-button" />
            </div>
        }
    </div>
}

<table class="data-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="white-space: pre-line;">@Html.DisplayFor(modelItem => item.Text)</td>
            <td class="centered">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }
</table>
@Html.PagedList()
