
@model RadiusR_Manager.Models.RadiusViewModels.RadiusRBillingViewModel

@{
    ViewBag.Title = RadiusR.Localization.Pages.Common.PaymentServices + "-" + RadiusR.Localization.Pages.Common.Add;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="input-table">
        <tr>
            <td>
                @Html.LabelFor(model => model.Name)
            </td>
            <td>
                @Html.EditorFor(model => model.Name, new { @htmlAttributes = new { @autocomplete = "off", @maxlength = 250 } })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Username)
            </td>
            <td>
                @Html.EditorFor(model => model.Username, new { @htmlAttributes = new { @autocomplete = "off", @maxlength = 50 } })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(model => model.Username)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Password)
            </td>
            <td>
                @Html.EditorFor(model => model.Password, new { @htmlAttributes = new { @autocomplete = "off", @maxlength = 250 } })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td colspan="2" class="centered">
                @Html.ActionLink(RadiusR.Localization.Pages.Common.Back, "Index", null, new { @class = "link-button iconed-button back-button" })
                &nbsp;
                <input type="submit" value="@RadiusR.Localization.Pages.Common.Accept" class="link-button iconed-button accept-button" />
            </td>
        </tr>
    </table>
}